@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Krona+One&family=Montserrat:wght@900&family=Poppins:wght@100;400&family=Prompt:wght@300;500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(233, 233, 233);
}

section {
  width: 50%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.445);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: rgb(243, 243, 243);
  width: 100%;
  padding: 10px 20px;
  color: rgb(53, 53, 53);
}

form {
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-right: 15px;
}

.change {
  background-color: blue;
}

.list {
  border-top: 1px rgb(233, 233, 233) solid;
  background-color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  padding: 20px;
  width: 100%;
  border: none;
  background-color: blueviolet;
}

form button {
  width: 10%;
  background-color: #fff;
}

button:hover {
  background-color: rgb(149, 66, 226);
}

.list button {
  font-size: 15px;
  padding: 5px 7px;
  width: 14%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
  background-color: rgb(241, 111, 139);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

form button:hover {
  background-color: #fff;
}

form i {
  width: 1%;
  margin-left: 0;
}

input {
  background-color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0;
  width: 97%;
  border: none;
  outline: none;
  font-style: italic;
}

#TodoList {
  width: 5%;
}

.checkbox {
  width: 5%;
}

.text-area {
  width: 90%;
  font-style: normal;
}

.complete .text-area {
  text-decoration: line-through;
}

@media only screen and (max-width: 820px) {
  section {
    width: 90%;
  }

  body {
    padding: 15px;
  }
}
